body {
  color: #706c6e;
  font-family: Tahoma,Arial,sans-serif;
}

header, article {
  padding: 20px;
}

header {
  background: #ccc;
  font-size: 16px;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #7ab2c1;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 10px;
}

h2 {
  color: #423e40;
  font: italic 18px/24px Georgia,serif;
}

article, p {
  font-size: 14px;
}

article {
  margin-bottom: 20px
}

p {
  line-height: 19px;
  margin: 0 0 15px;
}
